<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-social-wrapper">
        <a
          class="logo-link header__logo link"
          href="./index.html"
          aria-label="Посилання на головну сторінку"
        >
          <svg class="logo-icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          Bookshelf</a
        >
      </div>
      <div class="create-by">
        &#169; BookShelf <br />
        Created by IT Legion
      </div>
    </div>
  </div>
</footer>
