<main class="container main-container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <section class="categories">
            <ul class="categories-list"></ul>
        </section>
        <section class="support">
            <div class="support-head">
                <h2 class="support-title">Support Ukraine</h2>
                <svg class="support-icon" width="20" height="32">
                    <use href="./images/symbol-defs.svg#icon-gerb"></use>
                </svg>
            </div>
            <div class="swiper">
                <ul class="js-support-list support-list swiper-wrapper">
                </ul>
            </div>
            <button class="support-btn swiper-button" type="button" aria-label="swipe list down button">
                <svg class="support-btn-icon" width="38" height="38">
                    <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
                </svg>
            </button>
        </section>
    </aside>
        <section class="main">
            <h1 class="category-title">
            Best Sellers <span class="category-title-span">Books</span>
            </h1>
            <div class="container-main-gallery"></div>
            <div class="js-target"></div>

        </section>
</main>



<!-- <button class="js_signup_btn">Sign Up</button>
<button class="js_logout_btn">Log out</button>
<div class="js_autorization_modal sign_modal_style"></div>
<script type="module" src="./js/autorization-modal.js"></script> -->