@font-face {
    font-family: 'DM Sans bold';
    src: url(../fonts/DMSans-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'DM Sans regular';
    src: url(../fonts/DMSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}