@media screen and (max-width: 1439px) {
  .aside-shopping-list {
    display: none;
  }
}

.container-shopping-list {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 1;
}

@media screen and (min-width: 1440px) {
  .container-shopping-list {
    padding-left: 40px;
  }
}

.title-shopping-list {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  margin-bottom: 40px;

  color: var(--light-border-n-text-color);
}

@media screen and (min-width: 768px) {
  .title-shopping-list {
    font-size: 48px;
    line-height: 1.08;
  }
}

.title-shopping-list span {
  color: var(--light-accent-color);
}

.wrapper-shopping-list {
  position: relative;
  width: 335px;
  display: flex;
  column-gap: 14px;
  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  background-color: var(--light-header-bg-color);
}

@media screen and (max-width: 365px) {
  .wrapper-shopping-list {
    width: 280px;
    padding: 8px;
    column-gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-shopping-list {
    width: 704px;
    padding: 24px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper-shopping-list {
    width: 996px;
  }
}

.title-book-shopping-list {
  width: 144px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;

  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-border-n-text-color);
}

@media screen and (max-width: 365px) {
  .title-book-shopping-list {
    font-size: 13px;
    width: 100px;
  }
}

.category-book-shopping-list {
  display: inline-block;
  width: 144px;
  margin-bottom: 8px;
  font-family: 'DM Sans Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--light-header-secondary-color);
}

@media screen and (max-width: 365px) {
  .category-book-shopping-list {
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .category-book-shopping-list {
    margin-bottom: 14px;
    width: 260px;
  }
}

.description-book-shopping-list {
  font-family: 'DM Sans Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--light-border-n-text-color);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.author-book-shopping-list {
  position: absolute;
  bottom: 14px;
  font-family: 'DM Sans Regular';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.04em;

  color: var(--light-header-secondary-color);
}

@media screen and (min-width: 768px) {
  .author-book-shopping-list {
    bottom: 24px;
  }
}

@media screen and (max-width: 365px) {
  .author-book-shopping-list {
    font-size: 10px;
  }
}

.remove-from-shopping-list {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-accent-color);
  border-radius: 50%;
  border: none;
}

@media screen and (min-width: 768px) {
  .remove-from-shopping-list {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
}

.shops-shopping-list {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

@media screen and (max-width: 365px) {
  .shops-shopping-list {
    column-gap: 4px;
  }
}

@media screen and (min-width: 768px) {
  .shops-shopping-list {
    bottom: 24px;
    right: 24px;
    column-gap: 16px;
  }
}

.shop-item-shopping-list {
  filter: grayscale(1);
  transition: filter var(--transition-timing-function);
}

.shop-item-shopping-list:hover,
.shop-item-shopping-list:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 767px) {
  .amazon-image-shopping-list {
    width: 32px;
    height: 11px;
  }
}

@media screen and (max-width: 767px) {
  .apple-image-shopping-list,
  .books-image-shopping-list {
    width: 16px;
  }
}

.wrapper-img-shopping-list {
  width: 100px;
  height: 142px;
}

@media screen and (min-width: 768px) {
  .wrapper-img-shopping-list {
    width: 116px;
    height: 165px;
  }
}

.wrapper-img-shopping-list img {
  height: 100%;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .remove-icon {
    width: 18px;
    height: 18px;
  }
}

.text-shopping-list {
  margin: 0 auto;
  font-family: 'DM Sans Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
  .text-shopping-list {
    font-size: 18px;
    line-height: 1.33;
  }
}

.empty-shopping-list {
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  width: 265px;
  height: 248px;
  background-image: url(../images/shop-bookdesk@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 265px 198px;
  @media screen and (min-width: 768px) {
    background-size: 322px 241px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .js-back {
    background-image: url(../images/shop-bookdesk@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .empty-shopping-list {
    margin-top: 140px;
    width: 349px;
    height: 309px;
  }
}

.tui-pagination {
  margin-top: 40px;
}

.tui-pagination .tui-page-btn {
  height: 38px;
  width: 38px;
  margin-right: 7px;
  padding-top: 7px;

  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-border-n-text-color);
  border: 1px solid var(--light-border-n-text-color);
  border-radius: 50%;
  cursor: pointer;

 justify-content: center;
}

#pagination .tui-first {
  background-color: var(--light-border-n-text-color);
  margin-right: 8px;
}

@media screen and (max-width: 365px) {
  .tui-pagination .tui-page-btn {
    height: 34px;
    width: 34px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) {
  .tui-pagination .tui-page-btn {
    height: 44px;
    width: 44px;
    margin-right: 10px;
    padding-top: 10px;
  }
}

.tui-pagination .tui-last-child {
  margin-right: 0;
}

.tui-pagination .tui-is-selected {
  background: var(--light-border-n-text-color);
  border: 1px solid var(--light-border-n-text-color);
  color: var(--light-header-bg-color);
}

.tui-pagination .tui-is-selected:hover {
  background-color: var(--light-border-n-text-color);
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-first {
  color: var(--light-header-secondary-color);
  background-color: var(--light-border-n-text-color);
}

.tui-pagination .tui-first + .tui-prev {
  margin-right: 14px;
}

@media screen and (max-width: 365px) {
  .tui-pagination .tui-first + .tui-prev {
    margin-right: 7px;
  }
}

@media screen and (min-width: 768px) {
  .tui-pagination .tui-first + .tui-prev {
    margin-right: 24px;
  }
}

.tui-pagination .tui-next,
.tui-pagination .tui-next + .tui-last {
  color: var(--light-nav-text-color);
  background-color: var(--light-accent-color-2);
}

.tui-pagination .tui-next {
  margin-left: 14px;
}

@media screen and (max-width: 365px) {
  .tui-pagination .tui-next {
    margin-left: 7px;
  }
}

.tui-pagination .tui-next + .tui-last {
  border: 1px solid var(--light-border-n-text-color);
}

.tui-pagination .tui-next + .tui-last:hover {
  color: var(--light-border-n-text-color);
}
