.aside {
    width: 360px;
    outline: 1px solid green;
}

@media screen and (min-width: 768px) and (max-width: 1139px){
    .categories {
        max-width: 337px;
        margin-right: 32px;
    }
}

.sidebar__book-categories-list {
    max-height: 228px;
    overflow-y: scroll;
}
@media screen and (min-width: 768px){
    .sidebar__book-categories-list {
        max-height: 472px;
    }
}




@media screen and (min-width: 768px){
    .category-list-item:not(:last-child) {
        margin-bottom: 32px;
    }
}


.category-list-item:not(:last-child) {
    margin-bottom: 24px;
}




.sidebar__book-categories-list::-webkit-scrollbar {
    width: 8px;
    height: 114px;
  }
  @media screen and (min-width: 768px) {
    .sidebar__book-categories-list::-webkit-scrollbar {
      height: 167px;
    }
  }
  .sidebar__book-categories-list::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #e0e0e0;
  }
  .sidebar__book-categories-list::-webkit-scrollbar-track {
    display: none;
  }

  
@media screen and (min-width: 768px){
    .category:active, 
    .category:focus, 
    .category:hover, 
    .category.all-categories {
        font-size: 16px;
        line-height: 1.33px;
    }
}

.category:active, .category:focus, .category:hover, .category.all-categories {
    text-transform: uppercase;
    color: var(--light-accent-color);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 768px){
    .category {
        font-size: 18px;
        line-height: 1.33px;
    }
}

.category {
    background-color: inherit;
    text-align: left;
    letter-spacing: -.02em;
    color: rgba(17,17,17,.6);
    border: none;
    font-size: 16px;
    line-height: 1.12px;
    transition: text-transform .4s cubic-bezier(.075,.82,.165,1),font-weight .4s cubic-bezier(.075,.82,.165,1),color .4s cubic-bezier(.075,.82,.165,1),font-size .3s cubic-bezier(.075,.82,.165,1);
}


